<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>
        Hey there! I'm Aum, a passionate student delving into the fascinating
        realm of software development.
      </p>
      <p>
        Currently on the exciting journey of acquiring knowledge and honing my
        skills in this dynamic field, I'm here to share my experiences,
        insights, and discoveries.
      </p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>
      As a software development enthusiast, I find joy in unraveling the
      complexities of coding, problem-solving, and creating solutions that make
      a real impact.
    </p>
    <p>
      My academic pursuits in software development have equipped me with a
      toolkit of languages, frameworks, and methodologies that I'm eager to
      explore further.
    </p>
  </aside>
</div>